/* selectores y gerarquia en css */


/* podemos utilizar el nombre de la etiqueta que deseamos modificar. */
/* Etiquetas */

body{
    background-color: cyan;
}


/* clases */
/* Le podemos dar el nombre a las etiquetas que deseemos y darselo a todos los elementos que quiero compartan este mismo diseño */

.nombreClase{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.8em;
}

.logo{
    width: 200px;
    height: 200px;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 1em 1em 2em 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.cards:hover{
    background-color: blue;
}

/* ID */
/* Si deseo un diseño especifico a una unica etiqueta, podemos identificar de forma unica un elemento HTML con un ID, este nunca se debe repetir en ningun otro elemento */

#idPrincipal{
    font-size: 5em;
}

#titulos{
   
    width: 65vw;
    /* X vw - x porcentaje de la pantalla donde este */
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-container{
   
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    /* border: 2px solid black; */
    border-radius: 15px;
    padding: 2em; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}


/* medidas absolutas
-pixeles (px)
-centimetros (cm) */

/* medidas relativas
-em tamaño de puente base */

/* propiedades CSS
https://www.mclibre.org/consultar/htmlcss/css/css-propiedades.html# */


/* Flexbox es un valor dentro de CSS destinado a la propiedad display. Permite posicionar, alinear y direccionar los elementos HTML en la pantalla de una manera muy sencilla... */